
.cent{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imgcaptcha{
  padding: 30px auto;
  height: 4rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.text-size{
  font-size: 1.2rem;

}


label {
  position: relative;
  color: #646464;
}

input:not([type="submit"]):not([type="checkbox"]),
textarea {
  padding: 0.3rem 0.8rem;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 1.2rem;
  color: #646464;
  border: 1px solid gainsboro;
  background-color: gainsboro;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 5px 5px 8px rgba(165, 165, 165, 0), -5px -5px 8px rgba(235, 235, 235, 0), inset 5px 5px 8px rgba(165, 165, 165, 0.8), inset -5px -5px 8px rgba(235, 235, 235, 0.8);
          box-shadow: 5px 5px 8px rgba(165, 165, 165, 0), -5px -5px 8px rgba(235, 235, 235, 0), inset 5px 5px 8px rgba(165, 165, 165, 0.8), inset -5px -5px 8px rgba(235, 235, 235, 0.8);
}
input:not([type="submit"]):not([type="checkbox"]):valid,
textarea:valid {
  color: #00f;
  letter-spacing: 2px;
    
}
input:not([type="submit"]):not([type="checkbox"]):invalid,
textarea:invalid {
  color: #f00;
  text-shadow: 0 0 2px #fe5567;
}
input:not([type="submit"]):not([type="checkbox"])::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #646464;
  text-shadow: none;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
input:not([type="submit"]):not([type="checkbox"])::-moz-placeholder, textarea::-moz-placeholder {
  color: #646464;
  text-shadow: none;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  transition-delay: 1s;
}
input:not([type="submit"]):not([type="checkbox"]):-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #646464;
  text-shadow: none;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  transition-delay: 1s;
}
input:not([type="submit"]):not([type="checkbox"])::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #646464;
  text-shadow: none;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  transition-delay: 1s;
}
input:not([type="submit"]):not([type="checkbox"])::placeholder,
textarea::placeholder {
  color: #646464;
  text-shadow: none;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transition-delay: 1s;
       -o-transition-delay: 1s;
          transition-delay: 1s;
}
input:not([type="submit"]):not([type="checkbox"]):focus,
textarea:focus {
  caret-color: #646464;
  color: #646464;
  text-shadow: 0 0 2px #bebebe;
  outline: none;
}
input:not([type="submit"]):not([type="checkbox"]):focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #646464;
}
input:not([type="submit"]):not([type="checkbox"]):focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #646464;
}
input:not([type="submit"]):not([type="checkbox"]):focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
  color: #646464;
}
input:not([type="submit"]):not([type="checkbox"]):focus::-ms-input-placeholder, textarea:focus::-ms-input-placeholder {
  color: #646464;
}
input:not([type="submit"]):not([type="checkbox"]):focus::placeholder,
textarea:focus::placeholder {
  color: #646464;
}

input:not([type="submit"]):not([type="checkbox"]) {
  border-radius: 10rem;
  background: transparent;
}


textarea {
  margin-top: 1rem;
  border-radius: 0.8rem;
  height: 100px;
  font-size: 1.2rem;
}




input[type="submit"] {
   
  width: 100%;
  max-width: 30rem;
  padding: .8rem;
  border: none;
  border-radius: 10rem;
  background: gainsboro;
  color: #f00;
  font-size: 1.5rem;
  -webkit-transition: all .5 ease;
  -o-transition: all .5 ease;
  transition: all .5 ease;
  -webkit-box-shadow: 15px 15px 18px #b9b9b9, -15px -15px 18px #ebebeb;
          box-shadow: 15px 15px 18px #b9b9b9, -15px -15px 18px #ebebeb;
}
input[type="submit"]:hover {
  background: #ebebeb;
}
input[type="submit"]:focus {
  outline: none;
  background: gainsboro;
  color: #00dc69;
  text-shadow: 0 0 2px #00dc69;
  -webkit-box-shadow: 5px 5px 8px rgba(165, 165, 165, 0), -5px -5px 8px rgba(235, 235, 235, 0), inset 5px 5px 8px rgba(165, 165, 165, 0.8), inset -5px -5px 8px rgba(235, 235, 235, 0.8);
          box-shadow: 5px 5px 8px rgba(165, 165, 165, 0), -5px -5px 8px rgba(235, 235, 235, 0), inset 5px 5px 8px rgba(165, 165, 165, 0.8), inset -5px -5px 8px rgba(235, 235, 235, 0.8);
}

 #reload{
  
  
  height: 40px;
  padding: .4rem .5rem;
  border: none;
  margin-left: 5px;
  border-radius: 10rem;
  background: gainsboro;
  color: #fe5567;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-box-shadow: 5px 5px 8px #b9b9b9, -5px -5px 8px #ebebeb;
          box-shadow: 5px 5px 8px #b9b9b9, -5px -5px 8px #ebebeb;
}


 #reload:hover{
  background: #ebebeb;
}


 #reload:focus{
  outline: none;
  background: gainsboro;
  color: #00dc69;
  text-shadow: 0 0 2px #00dc69;
  -webkit-box-shadow: 5px 5px 8px rgba(165, 165, 165, 0), -5px -5px 8px rgba(235, 235, 235, 0), inset 5px 5px 8px rgba(165, 165, 165, 0.8), inset -5px -5px 8px rgba(235, 235, 235, 0.8);
          box-shadow: 5px 5px 8px rgba(165, 165, 165, 0), -5px -5px 8px rgba(235, 235, 235, 0), inset 5px 5px 8px rgba(165, 165, 165, 0.8), inset -5px -5px 8px rgba(235, 235, 235, 0.8);
}
@media (min-width: 767px) {
  .contact{
    width: 100%;
  }
.submit-cent{
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 31%;
    
}
  #reload{
  height: 40px;
  border: none;
  margin-left: 30px;
  border-radius: 10rem;
  background: gainsboro;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-box-shadow: 5px 5px 8px #b9b9b9, -5px -5px 8px #ebebeb;
          box-shadow: 5px 5px 8px #b9b9b9, -5px -5px 8px #ebebeb;
}


 #reload:hover{
  background: #ebebeb;
}


 #reload:focus{
  outline: none;
  background: gainsboro;
  color: #00dc69;
  text-shadow: 0 0 2px #00dc69;
  -webkit-box-shadow: 5px 5px 8px rgba(165, 165, 165, 0), -5px -5px 8px rgba(235, 235, 235, 0), inset 5px 5px 8px rgba(165, 165, 165, 0.8), inset -5px -5px 8px rgba(235, 235, 235, 0.8);
          box-shadow: 5px 5px 8px rgba(165, 165, 165, 0), -5px -5px 8px rgba(235, 235, 235, 0), inset 5px 5px 8px rgba(165, 165, 165, 0.8), inset -5px -5px 8px rgba(235, 235, 235, 0.8);
}
}