/*
.scroll-down {
	position: absolute;
	left: 50%;
	bottom: 5vh;
	display: block;
	text-align: center;
	font-size: 20px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0;
	width: 13px;
	height: 13px;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	z-index: 9;
	-webkit-transform: translate(-50%, 0%) rotate(45deg);
	-moz-transform: translate(-50%, 0%) rotate(45deg);
	transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 2s ease-in-out infinite;
	-moz-animation: fade_move_down 2s ease-in-out infinite;
	animation: fade_move_down 2s ease-in-out infinite;
}


----------------animated scroll arrow animation  
@-webkit-keyframes fade_move_down {
 0% {
-webkit-transform:translate(0, -10px) rotate(45deg);
opacity: 0;
}
 50% {
opacity: 1;
}
 100% {
-webkit-transform:translate(0, 10px) rotate(45deg);
opacity: 0;
}
}
@-moz-keyframes fade_move_down {
 0% {
-moz-transform:translate(0, -10px) rotate(45deg);
opacity: 0;
}
 50% {
opacity: 1;
}
 100% {
-moz-transform:translate(0, 10px) rotate(45deg);
opacity: 0;
}
}
@keyframes fade_move_down {
 0% {
transform:translate(0, -10px) rotate(45deg);
opacity: 0;
}
 50% {
opacity: 1;
}
 100% {
transform:translate(0, 10px) rotate(45deg);
opacity: 0;
}
}

----------------------------------------------------------------------*/

#navbar {
  background:linear-gradient(to left, #434343 0%, black 100%);
  opacity: .9;
  position: fixed;
  width: 100%;
  top:-70px;  
  transition: top 1s;
}

#navbar a {
  float: left;
  display: inline-block;
  color: #fff;
  text-align: center;
  margin-right: 55px;
  margin-top: 5px;
  text-decoration: none;
  font-size: 17px;
  border: 2px solid #f00;
  border-radius: 4rem;
}

#navbar a:hover {
  background-color: red;
  color: yellow;
  border-radius: 4rem;

}
.mobile-toggle{

overflow: hidden;
}
  @media only screen and (min-width: 766px){

.mobile-toggle{
      display:none;
}

}

@media only screen and (max-width: 766px){
  #navbar{
    display: none;
  }
  
}

.navbar-custom{
   background:linear-gradient(to left, #434343 0%, black 100%);
   opacity: .9;
   border-radius: 4rem;
   border:2px solid #f00;

}
.button-col{
  color: white;
} 
.nav-link{
  color: #fff;
}


.logo{
  width: 2.5rem;
  opacity: 1; 
}

 .my{
  background-color : transperent;
  color: #FFEB3B;
  margin-bottom: 10px; 
  font-size: 1.2rem;
  font-weight: 600;

 }
 .my:hover{
color: red;
text-decoration: none;
 }
.my1  {
  position: fixed;
  bottom: 0px;
  left: 72% ;
  
}
.my3  {
  position: fixed;
  bottom: 0px;
  left: 32%;
  }
.my2  {
  position: fixed;
  bottom: 0px;
  left: 54%;
 
}

@media only screen and (min-width: 766px){
  .bignav{
    visibility:visible;
  }
  .mobile-toggle{
    visibility: hidden;
  } 
}