.contact{
  
  background-color: gainsboro;
  

}
.text-size{
  font-size: 3vh;
  padding-left: 2rem;
}

input:not([type="submit"]):not([type="checkbox"]),
textarea {
  padding: .5rem 2rem;
  margin-bottom: 1rem;
  width: 80%;
  height: 5vh;
  color: #000;
  border: 2px solid gainsboro;
  background-color: gainsboro;
  transition: all 0.3s ease;
  box-shadow: 5px 5px 8px rgba(165, 165, 165, 0), -5px -5px 8px rgba(235, 235, 235, 0), inset 5px 5px 8px rgba(165, 165, 165, 0.8), inset -5px -5px 8px rgba(235, 235, 235, 0.8);
}
input:not([type="submit"]):not([type="checkbox"]):valid,
textarea:valid {
  color: #00dc69;
  text-shadow: 0 0 2px #f0f;
}
input:not([type="submit"]):not([type="checkbox"]):invalid,
textarea:invalid {
  color: #fe5567;
  text-shadow: 0 0 2px #fe5567;
}
input:not([type="submit"]):not([type="checkbox"])::placeholder,
textarea::placeholder {
  color: #646464;
  text-shadow: none;
  font-size: 3vh;
  transition: all .5s ease;
  transition-delay: .3s;
}
input:not([type="submit"]):not([type="checkbox"]):focus,
textarea:focus {
  caret-color: #646464;
  color: #646464;
  text-shadow: 0 0 2px #bebebe;
  outline: none;
}
input:not([type="submit"]):not([type="checkbox"]):focus::placeholder,
textarea:focus::placeholder {
  color: #646464;
}

input:not([type="submit"]):not([type="checkbox"]) {
  border-radius: 10rem;
  background: transparent;
}


textarea {
  margin-top: 1rem;
  border-radius: 2rem;
  height: 20vh;
  width: 80%;

}



input[type="submit"] {
  width: 80%;
  height: 6rem;
  margin: 1.5rem auto;
  padding: 1rem;
  border: none;
  border-radius: 10rem;
  background: gainsboro;
  color: #646464;
  font-size: 4rem;
  transition: all .5s ease;
  box-shadow: 15px 15px 18px #b9b9b9, -15px -15px 18px #ebebeb;
}
input[type="submit"]:hover {
  background: #ebebeb;
}
input[type="submit"]:focus {
  outline: none;
  background: gainsboro;
  color: #00dc69;
  text-shadow: 0 0 2px #00dc69;
  box-shadow: 15px 15px 18px rgba(165, 165, 165, 0), -15px -15px 18px rgba(235, 235, 235, 0), inset 15px 15px 18px rgba(165, 165, 165, 0.8), inset -15px -15px 18px rgba(235, 235, 235, 0.8);
}


 #reload{
  
  margin: auto;
  padding: 1rem;
  border: none;
  border-radius: 10rem;
  background: gainsboro;
  color: #646464;
  transition: all .3s ease;
  box-shadow: 15px 15px 18px #b9b9b9, -15px -15px 18px #ebebeb;
}


 #reload:hover{
  background: #ebebeb;
}


 #reload:focus{
  outline: none;
  background: gainsboro;
  color: #00dc69;
  text-shadow: 0 0 2px #00dc69;
  box-shadow: 15px 15px 18px rgba(165, 165, 165, 0), -15px -15px 18px rgba(235, 235, 235, 0), inset 15px 15px 18px rgba(165, 165, 165, 0.8), inset -15px -15px 18px rgba(235, 235, 235, 0.8);
}
@media (max-width: 767px) {
.contact{
    width: 70%;
    margin: 3rem;
  }
}
