$light: white;
$mid: rgba(220, 220, 220, 1);
$dark: rgba(100, 100, 100, 1);
$off: rgba(190, 190, 190, 1);
$green: #00dc69;
$red: #fe5567;
$white: rgba(245, 245, 245, 1);

@mixin outer-shadow {
  box-shadow: 5px 5px 8px rgba(185, 185, 185, 1),
             -5px -5px 8px rgba(235, 235, 235, 1); }
@mixin focus-shadow {
  box-shadow: 5px 5px 8px rgba(165, 165, 165, 0),
             -5px -5px 8px rgba(235, 235, 235, 0),
              inset 5px 5px 8px rgba(165, 165, 165, 0.8),
              inset -5px -5px 8px rgba(235, 235, 235, 0.8); }

body {
  height: auto;
  margin: 4rem 25vw;
  background-color: $mid;
}
label {
  position: relative;
  color: $dark;
}

input:not([type="submit"]):not([type="checkbox"]),
textarea {
  padding: 0.3rem 0.8rem;
  margin-bottom: 1rem;
  width: 100%;
  color: $dark;
  border: 1px solid $mid;
  background-color: $mid;
  transition: all 0.3s ease;
  @include focus-shadow;

  &:valid {
    color: $green;
    text-shadow: 0 0 2px $green;
  }

  &:invalid {
    color: $red;
    text-shadow: 0 0 2px $red;
  }

  &::placeholder {
    color: $dark;
    text-shadow: none;
    transition: all 0.3s ease;
    transition-delay: 0.2s;
  }

  &:focus {
    caret-color: $dark;
    color: $dark;
    text-shadow: 0 0 2px $off;
    outline: none;

    &::placeholder {
      color: $dark;
    }
  }
}

input:not([type="submit"]):not([type="checkbox"]) {
  border-radius: 10rem;
  background: transparent;
}

input[type="checkbox"] {
  opacity: 0;
  display: inline-block;
  margin-left: 9px;
  margin-right: 0.6rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

textarea {
  margin-top: 1rem;
  border-radius: 0.8rem;
  height: 75px;
}

span.checkbox-custom-outer {
  position: absolute;
  top: 0px;
  left: 3px;
  display: inline-block;
  height: 24px;
  width: 24px;
  border-radius: 10rem;
  background-color: $mid;
  opacity: 1;
  transition: all 0.3s ease;
  z-index: 100;
  @include outer-shadow;

  &::after {
    position: absolute;
    content: "";
    left: 5px;
    top: 5px;
    width: 7px;
    height: 7px;
    opacity: 1;
    background: $off;
    border: solid $off;
    border-width: 3px;
    border-radius: 10rem;
    filter: blur(0);
    transition: all 0.3s ease;
    transition-delay: 0.1s;
  }
}

label input:checked {
  & ~ .checkbox-custom-outer {
    @include focus-shadow;

    &::after {
      opacity: 1;
      background: $green;
      border-color: $green;
      filter: blur(1px);
    }
  }
}

input[type="submit"] {
  width: 100%;
  margin: auto;
  padding: 1rem;
  border: none;
  border-radius: 10rem;
  background: $mid;
  color: $dark;
  transition: all 0.3s ease;
  @include outer-shadow;

  &:hover {
    background: rgba(235, 235, 235, 1);
  }

  &:focus {
    outline: none;
    background: $mid;
    color: $green;
    text-shadow: 0 0 2px $green;
    @include focus-shadow;
  }
}

@media (max-width: 767px) {
  body {
    width: 70%;
    margin: 3rem;
  }
}