
  


.footer-distributed {
  
  font: normal 2rem sans-serif;
  height:300px;
background: #dcdcdc url("2gif.gif");
background-repeat: repeat;
background-position: 25% 50%;
}



/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
 
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
  .footer-distributed{
    font-size: 5rem;
    padding: 40px;
  }
}
