
.downloadbtn{
	position: relative;
	display: inline-block;
	color: #2196f3;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	font-size: 2rem;
	overflow: hidden;
	transition: 1s;
	display: flex;
    justify-content: center;
    align-items:  center;
    text-decoration: none;
    margin:10% 17%;
    padding: 1rem;
  transition: all .5s ease;
  box-shadow: 15px 15px 18px #b9b9b9, -15px -15px 18px #ebebeb;
  
}
.downloadbtn :hover{
	color:linear-gradient(270deg, #b721ff 0%, #21d4fd 100%);
    box-shadow: 15px 15px 18px rgba(165, 165, 165, 0), -15px -15px 18px rgba(235, 235, 235, 0), inset 15px 15px 18px rgba(165, 165, 165, 0.8), inset -15px -15px 18px rgba(235, 235, 235, 0.8);
}
 .downloadbtn span  {
    position: absolute;
    display: block;
    width: 50%;
    size: 2rem;
     

}
 .downloadbtn span:nth-child(1){
   top: 0;
   left: -100%;
   width: 100%;
   height: 2px;
   background: linear-gradient(90deg, #ff0844 0%, #ffb199 100%)

}
.downloadbtn:hover span:nth-child(1){
	left:100%;
	transition: 1s;
}
.downloadbtn span:nth-child(3){
   bottom: 0;
   right: -100%;
   width: 100%;
   height: 2px;
   background: linear-gradient(270deg, #b721ff 0%, #21d4fd 100%);

}
.downloadbtn:hover span:nth-child(3){
	right: 100%;
	transition: 1s;
	transition-delay: .5s;
}
.downloadbtn span:nth-child(2){
   top: -100%;
   right:0;
   width: 2px;
   height: 100%;
   background: linear-gradient(180deg, #0fd850 0%, #f9f047 100%)

}
.downloadbtn:hover span:nth-child(2){
	top: 100%;
	transition: 1s;
	transition-delay: .25s;
}
.downloadbtn span:nth-child(4){
   bottom: -100%;
   left: 0;
   width: 2px;
   height: 100%;
   background: linear-gradient(360deg, transparent,#2196f3)

}
.downloadbtn:hover span:nth-child(4){
	bottom:  100%;
	transition: 1s;
	transition-delay: .75s;
}
@media (min-width: 767px){
    .downloadbtn{
	position: relative;
	display: inline-block;
	color: #2196f3;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	font-size: 3rem;
	overflow: hidden;
	transition: 1s;
	display: flex;
    justify-content: center;
    align-items:  center;
    text-decoration: none;
    margin:10% 37%;
    padding: 2rem;
  transition: all .5s ease;
  box-shadow: 15px 15px 18px #b9b9b9, -15px -15px 18px #ebebeb;
  
}
}
